<div id="routeContainer">
  <div class="inner">
    <div routerLink="" class="logo" (click)="scrolltotop()">
      <img src="./assets/img/TrialLOGO.svg" alt="">
      <h1>MY SITE</h1>
    </div>
    <div class="social">
      <ul>
        <li><i class="fab fa-facebook-f"></i></li>
        <li><i class="fab fa-instagram"></i></li>
        <li><i class="fab fa-twitter"></i></li>
        <li><i class="fab fa-youtube"></i></li>
      </ul>
    </div>
  </div>
  <div class="CAA">
    <ul>
      <li routerLink="contact" class="contact">CONTACT</li>
      <li>ADVERTISE</li>
      <li routerlink="about">ABOUT</li>
    </ul>
  </div>
  <div class="rights">
    <hr>
    <p>© 2020 Created By Ayush Naik All Rights Reserved.</p>
    <hr>
  </div>
</div>
