<div class="main-title">

  <body>
    <header>
      <h1>Loading different Angular modules or components on routes with same path</h1>
      <hr>
      <div>
        <div class="split">
          <div class="author-class">

            <div>
              <button mat-mini-fab class="article-avatar"></button>
            </div>

            <div class="author-desp">
              <p id="name">Ayush Naik</p>
              <p id="org">Web Developer</p>
            </div>

          </div>

          <div class="author-social">
            <ul>
              <li><i class="fab fa-facebook"></i></li>
              <li><i class="fab fa-github"></i></li>
              <li><i class="fab fa-linkedin"></i></li>
              <li><i class="fab fa-instagram-square"></i></li>
            </ul>
          </div>

        </div>
      </div>

    </header>
  </body>
  </div>

  <div class="content">
  <div class="inner-content">
    <p>Normal Text</p>
    <code>This is code</code>
    <div class="video-container"><iframe width="560" height="315" src="https://www.youtube.com/embed/QOcS0LCWRK4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
  </div>
  </div>
