<body>
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="about-img"></div>
            <img class="shape" src="./assets/img/about_tringle.png" alt="">
            <img class="man" src="" alt="">
        </div>
        <br>
        <div class="col-md-6 about-right">
          <h2 class="color-3"><b>About</b></h2>
          <p class="p-first text-white">
            this the description of yourself . here app-header
            here her her djsad saKbsaD sahdjSKdksbdkJASa
            jkSAFjksbadbsakjdbksaJdnakDm ohsifoisahdlksa
            kagfkjsabDlaS aoIhSAKSLn alklhdalskd d
          </p>

          <p class="text-white">
            this the description of yourself . here app-header
            here her her djsad saKbsaD sahdjSKdksbdkJASa
            jkSAFjksbadbsakjdbksaJdnakDm ohsifoisahdlksa
            kagfkjsabDlaS aoIhSAKSLn alklhdalskd d
          </p>
          <h3 class="color-3" social-link-text>
            <button class="btn btn-danger">Hire Me</button>
          </h3>

          <ul class="about-link">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li> <a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
          </ul>
        </div>


      </div>
    </div>

  </section>
</body>
